/* Fonts */

@font-face {
  font-family: ClarityCity;
  font-weight: 400;
  src: local("ClarityCity Regular"), local("ClarityCity-Regular"), url(/static/fonts/ClarityCity-Regular.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-weight: 700;
  src: local("ClarityCity Bold"), local("ClarityCity-Bold"), url(/static/fonts/ClarityCity-Bold.woff2);
}

@font-face {
  font-family: ForkAwesome;
  src: local("ForkAwesome"), url(/static/fonts/forkawesome-webfont.woff2);
}


/* Variables */

:root {
  --black: #333;
  --blue: #428bca;
  --blue-opacity: #428bca77;
  --grey: #f1f2f2;
  --grey-opacity: #f1f2f277;
  --red: #dd1d2a;
  --red-opacity: #dd1d2a77;
  --white: #fff;

  --mark-validated: #78e47877;
  --mark-acquiring: #e4d17877;
  --mark-non-validated: #e4788477;
}


/* Common */

html {
  background: var(--white);
  color: var(--black);
  font-family: ClarityCity, sans-serif;
  font-size: 14pt;
  line-height: 1.5;
}

body {
  margin: 0;
  min-height: 100vh;
}

main {
  margin: auto;
  max-width: 1400px;
  padding: 0 1em;
}

::before {
  display: inline-block;
  font-family: ForkAwesome;
  padding-right: 0.5em;
}

a {
  color: var(--blue);
  text-decoration: inherit;
  transition: 0.2s;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}


/* Tables */

table {
  border-collapse: collapse;
  margin: 1em 0;
}

table form {
  margin: 0;
  width: initial;
}

table input,
table .button {
  display: inline-block;
  float: initial;
  margin: calc(-0.2em - 1px) 0;
  padding: 0.2em;
  width: auto;
}

tr:not(:last-of-type) {
  border-bottom: 1px solid var(--grey);
}

tr > * {
  padding: 0.5em;
  text-align: right;
}

tr > :first-child {
  text-align: left;
}

tbody:has(tr:nth-of-type(3)) tr:nth-child(odd) {
  background: var(--grey-opacity);
}

/* Titles */

h1 {
  font-size: 3.2em;
  letter-spacing: -1;
  line-height: 1;
  margin: 0.3em 0;
  text-transform: uppercase;
}

h2 {
  font-size: 2.4em;
  letter-spacing: -0.4;
  line-height: 1;
  margin: 1.2em 0 0.3em;
  text-transform: uppercase;
}

h3 {
  clear: both;
  font-size: 1.8em;
  letter-spacing: -0.3;
  line-height: 1;
  margin: 1.2em 0 0.3em;
}

h4 {
  font-size: 1.35em;
  letter-spacing: -0.15;
  line-height: 1;
  margin: 1.2em 0 0.3em;
}


/* Forms */

form {
  width: 50%
}

form > * {
  display: block;
}

fieldset {
  align-items: center;
  border: 1px solid var(--blue-opacity);
  border-radius: 5px;
  display: flex;
}

label {
  margin-top: 1em;
}

input,
select,
textarea {
  background: var(--grey-opacity);
  border: 1px solid var(--blue-opacity);
  border-radius: 5px;
  margin: 0.5em 0 1.5em 0;
  padding: 1em;
  transition: 0.2s;
}

input[type="checkbox"][readonly] {
  filter: grayscale(100);
  opacity: 0.5;
}

input[type="radio"] {
  margin: 0;
  width: 2em;
}

fieldset label {
  margin: 0 5em 0 0;
}

select {
  padding: 0.5em 1em;
}

input:focus,
select:focus,
textarea:focus {
  background: var(--grey);
}

input:not(input[type="checkbox"], input[type="radio"], .button),
select,
textarea {
  /* 100% - padding l/r - border l/r */
  width: calc(100% - 2em - 2px);
}

input[type="checkbox"] {
  margin-left: -1.5em;
  margin-top: -1.5em;
  position: absolute;
}

.button {
  background: var(--red-opacity);
  border: 1px solid var(--red-opacity);
  border-radius: 5px;
  color: var(--white);
  float: right;
  margin-right: 0;
  padding: 1em;
  text-align: center;
  transition: 0.2s;
  width: 25%;
}

.button:hover {
  background: var(--red);
  cursor: pointer;
}

.danger {
  display: block;
  width: 100%;
}

.link {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.link input,
.link select {
  width: 70%;
}

.link .button {
  margin-left: 0;
  margin-right: 0;
  width: 25%;
}

.search {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  width: 100%;
}
.search input:first-of-type {
  width: 80%;
}
.search input.button {
  margin-left: 0;
  margin-right: 0;
  width: 15%;
}


/* Nav */

nav  {
  background: var(--grey);
  border-bottom: 1px solid var(--red);
  display: flex;
  padding: 0.5em 5em;
  text-transform: uppercase;
}

nav a {
  color: var(--black);
  text-decoration: inherit;
}

nav img {
  display: block;
  height: 3em;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
}

nav li {
  margin: auto 0;
  padding: 0 0 0 2em;
}

nav li.profile a::before {
  content: "\f2c0";
}

nav li.logout a::before {
  content: "\f08b";
}

nav li.login a::before {
  content: "\f090";
}


/* Flash messages */

#messages {
  bottom: 0;
  position: fixed;
  right: 0;
  width: 20em;
}

#messages section {
  backdrop-filter: blur(0.3em);
  background: #fffc;
  border: 1px solid;
  border-radius: 0.1em;
  box-shadow: 0.1em 0.1em 0.3em #0004;
  font-size: 0.8em;
  line-height: 1.2;
  margin: 1em;
  padding: 1em 2em 1em 1em;
  position: relative;
}

#messages section input {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  line-height: 0.5;
  font-size: 1.5em;
  margin: 0;
  padding: 0.2em;
  position: absolute;
  right: 0;
  top: 0;
  width: min-content;
}

#messages section input::after {
  content: '×';
}

#messages section:has(input:checked) {
  display: none;
}


/* Main lists */

.main-list a {
  color: var(--black);
}

.main-list a::before {
  content: "\f061";
}

.main-list a:hover::before {
  color: var(--red);
}


/* Login */

#page-login {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#page-login nav {
  display: none;
}

#page-login main {
  align-items: center;
  display: flex;
}

#page-login img {
  display: block;
  margin: 1em 2em;
  width: 30em;
}

#page-login form {
  width: 100%;
}

/* Marks */

#page-marks form {
  width: 100%;
}

#page-marks section {
  border-bottom: 1px solid var(--grey);
  display: flex;
  justify-content: space-between;
}

#page-marks section:last-of-type {
  border-bottom: none;
}

#page-marks section > * {
  margin: 1em 0;
  width: 30%;
}

#page-marks .button {
  bottom: 3em;
  margin: 0;
  position: fixed;
  right: 3em;
  width: 10%;
}


/* Report */

#page-report #marks-summary,
#page-report .absences-summary {
  display: inline-block;
  margin-right: 5em;
  vertical-align: top;
  min-width: 25%;
}

.validated {
  background: var(--mark-validated) !important;
}

.acquiring {
  background: var(--mark-acquiring) !important;
}

.non-validated {
  background: var(--mark-non-validated) !important;
}

.semester-marks table,
.semester-comment,
#special-mark {
  width: 100%;
}

#page-generate_report form {
  width: 50%;
}

#page-generate_report .button {
  float: right;
  margin-right: 0;
}

/* Marks */

#page-marks h4 + textarea {
  width: 60%;
}

/* Super Administrator */

#actions {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

#actions > * {
  flex: 1;
  text-align: center;
}

#page-teaching_period table,
#page-production_action table {
  width: 80%;
}

#add-semester {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#add-semester input {
  margin: 0;
  width: 22%;
}

#page-profile table {
  width: 50%;
}

#page-profile form table,
#page-profile form tbody,
#page-profile form tr {
  width: 100%;
}

#page-absences form {
  width: max-content;
}

#page-absences .button {
  margin: 0 0 0 auto;
}
