<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Bambou{% if title %} − {{ title }}{% endif %}</title>
    <meta charset="utf-8" />
    <meta name="description" content="Gestion de notes de l’IPI">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body id="page-{{ request.endpoint }}">
    <header>
      <nav>
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='logo_ipi.svg') }}"></a>
        <ul>
          {% if g.person %}
            <li class="profile"><a href="{{ url_for('profile') }}">Mon profil</a></li>
            <li class="logout"><a href="{{ url_for('logout') }}">Déconnexion</a></li>
          {% else %}
            <li class="login"><a href="{{ url_for('login') }}">Connexion</a></li>
          {% endif %}
        </ul>
      </nav>

      {% set messages = get_flashed_messages() %}
      {% if messages %}
        <aside id="messages">
          {% for message in messages %}
            <section>
              <input type="checkbox" title="Fermer" onClick="return this.parentNode.remove() /* Just for Firefox that’s missing ':has, ;) */" />
              {{ message }}
            </section>
          {% endfor %}
        </aside>
      {% endif %}
    </header>

    <main>
      {% block content %}{% endblock content %}
    </main>

  </body>
</html>
