{% set title = 'Absences −  ' + student.name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Absences − {{ student.name }} </h2>

  <h3>{{ student.teaching_period_name }}</h3>

  <form method="post">
    <table class="absences-summary">
      <thead>
        <tr>
          <th>Absences</th>
          {% for semester_id, trackings in trackings | groupby(attribute='semester_id') %}
            {% set semester = trackings[0] %}
            <th>{{ semester.semester_name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Justifiées (en minutes)</th>
          {% for semester_id, trackings in trackings | groupby(attribute='semester_id') %}
            {% set semester = trackings[0] %}
            <td><input name="justified_absence_minutes_{{ semester_id }}" value="{{ semester.justified_absence_minutes or 0 }}"/></td>
          {% endfor %}
        </tr>
        <tr>
          <th>Injustifiées (en minutes)</th>
          {% for semester_id, trackings in trackings | groupby(attribute='semester_id') %}
            {% set semester = trackings[0] %}
            <td><input name="unjustified_absence_minutes_{{ semester_id }}" value="{{ semester.unjustified_absence_minutes or 0 }}"/></td>
          {% endfor %}
        </tr>
        <tr>
          <th>Retards (en minutes)</th>
          {% for semester_id, trackings in trackings | groupby(attribute='semester_id') %}
            {% set semester = trackings[0] %}
            <td><input name="lateness_minutes_{{ semester_id }}" value="{{ semester.lateness_minutes or 0 }}"/></td>
          {% endfor %}
        </tr>
      </tbody>
    </table>

    <input type="submit" class="button" value="Modifier" />
  </form>
{% endblock %}
