{% set title = 'TODO Administrateur - Nom Prénom' %}

{% extends '_layout.jinja2' %}

{% block content %}

<h2>Périodes de formation</h2>

<form>
  <input type="text"/>
  <input type="submit" value="TODO Rechercher un apprenant"/>
</form>
  

{% for teaching_period_id, students in students | groupby(attribute='teaching_period_id') %}
<section>
  <h3>{{ students[0].teaching_period_name }}</h3>
  <ul>
    {% for student in students %}
      <li><a href="TODO">{{ student.person_name }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
