{% set title = 'Administrateur - ' + g.person.name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Périodes de formation</h2>

  <form class="search">
    <input name="search" placeholder="Rechercher un apprenant"/>
    <input type="submit" class="button" value="Rechercher"/>
  </form>

  {% for teaching_period_id, students in students | groupby(attribute='teaching_period_id') %}
    {% set teaching_period = students[0] %}
    <section>
      <h3>{{ teaching_period.teaching_period_name }}</h3>
      <ul class="main-list">
        {% for student in students %}
          <li><a href="{{ url_for('report', registration_id=student.registration_id) }}">{{ student.person_name }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
{% endblock %}
