{% set title = 'Générer le bulletin − ' + registration.name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  {% if report.exists() %}
    <ul id="actions">
      <li><a href="{{ url_for('download_report', registration_id=registration.id) }}">Télécharger le bulletin existant</a></li>
    </ul>
  {% endif %}

  <form method="post">
    <fieldset>
      <input type="radio" id="admitted" name="admitted" value="1" checked>
      <label for="admitted">Admis</label>
      <input type="radio" id="refused" name="admitted" value="0">
      <label for="refused">Non-admis</label>
    </fieldset>

    <input type="submit" class="button" value="Générer le bulletin">
  </form>
{% endblock %}
