{% set title = 'Connexion' %}

{% extends '_layout.jinja2' %}

{% block content %}

<div>
  <img src="{{ url_for('static', filename='logo_ipi.png') }}">
</div>

<section>
  <h1>Gestion de notes</h1>

  <form method="post">
    <label for="login">Email</label>
    <input name="login" />
    <label for="password">Mot de passe</label>
    <input name="password" type="password" />
    <input class="button" type="submit" value="Se connecter"/>
  </form>

  <a href="TODO">Mot de passe perdu</a>
</section>
{% endblock %}
