{% set title = 'Note − ' + person.name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Note − TODO nom module</h2>
  <h3>{{ person.name }} - {{ person.teaching_period_name }}</h3>

  <form>
    <select>
      <option value="A" {{ 'selected' if assignment.mark == 'A' }}>Expertise - A</option>
      <option value="B" {{ 'selected' if assignment.mark == 'B' }}>Maîtrisé − B</option>
      <option value="C" {{ 'selected' if assignment.mark == 'C' }}>Acquis − C</option>
      <option value="D" {{ 'selected' if assignment.mark == 'D' }}>En cours d’acquisition − D</option>
      <option value="E" {{ 'selected' if assignment.mark == 'E' }}>Non acquis − E</option>
      <option value="NE" {{ 'selected' if assignment.mark == 'NE' }}>Non évalué − NE</option>
    </select>
    <input value="TODO commentaire du module"/>
    <input type="submit" value="TODO Modifier la note"/>
  </form>

{% endblock %}
