{% set title = ('Commentaire' if assignment.language else 'Note') + ' − ' + assignment.person_name + ' − ' + assignment.production_action_name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <form method="post">
    {% if not assignment.language %}
      <label for="mark">Note</label>
      <select id="mark" name="mark">
        <option></option>
        {% for mark in ('A', 'B', 'C', 'D', 'E', 'NE') %}
          <option value="{{ mark }}" {{ 'selected' if assignment.mark == mark }}>{{ mark | full_mark }}</option>
        {% endfor %}
      </select>
    {% endif %}
    <label for="comments">Commentaires</label>
    <textarea id="comments" name="comments">{{ assignment.comments or '' }}</textarea>
    <input type="submit" class="button" value="Modifier {{ 'le commentaire' if assignment.language else 'la note' }}"/>
  </form>
{% endblock %}
