{% set title = 'Notes - ' + course.production_action_name + ' (' + course.teaching_period_names + ')' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ course.production_action_name }}</h2>

  <h3>{{ course.teaching_period_names }}</h3>
  <form method="post">
    {% for assignment in assignments %}
      <section>
        <h4>{{ assignment.person_name }}</h4>
        {% if not assignment.language %}
          <select name="{{ assignment.id }}-mark">
            <option value="" {{ 'selected' if not assignment.mark }}></option>
            {% for mark in ('A', 'B', 'C', 'D', 'E', 'NE') %}
              <option value="{{ mark }}" {{ 'selected' if assignment.mark == mark }}>{{ mark | full_mark }}</option>
            {% endfor %}
          </select>
        {% endif %}
        <textarea name="{{ assignment.id }}-comments">{{ assignment.comments or '' }}</textarea>
      </section>
    {% endfor %}
    <input class="button" type="submit" value="Sauvegarder"/>
  </form>
{% endblock %}
