{% set title = ('Commentaire' if assignment.language else 'Note') + ' − ' + assignment.person_name + ' − ' + assignment.production_action_name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ title }}</h2>

  <form method="post">
    {% if not assignment.language %}
      <label for="mark">Note</label>
      <select id="mark" name="mark">
        <option></option>
        <option value="A" {{ 'selected' if assignment.mark == 'A' }}>Expertise - A</option>
        <option value="B" {{ 'selected' if assignment.mark == 'B' }}>Maîtrisé − B</option>
        <option value="C" {{ 'selected' if assignment.mark == 'C' }}>Acquis − C</option>
        <option value="D" {{ 'selected' if assignment.mark == 'D' }}>En cours d’acquisition − D</option>
        <option value="E" {{ 'selected' if assignment.mark == 'E' }}>Non acquis − E</option>
        <option value="NE" {{ 'selected' if assignment.mark == 'NE' }}>Non évalué − NE</option>
      </select>
    {% endif %}
    <label for="comments">Commentaires</label>
    <textarea id="comments" name="comments">{{ assignment.comments or '' }}</textarea>
    <input type="submit" class="button" value="Modifier {{ 'le commentaire' if assignment.language else 'la note' }}"/>
  </form>
{% endblock %}
