{% set title = 'Action de production - Ajout' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Ajout d’une action de production</h2>

  <form method="post">
    <label for="code">Code</label>
    <input id="code" name="code" placeholder="Code"/>
    <label for="teacher">Enseignant</label>
    <select id="teacher" name="teacher">
      <option value=""></option>
      {% for teacher in teachers %}
        <option value="{{ teacher.id }}">{{ teacher.name }}</option>
      {% endfor %}
    </select>
    <label for="name">Nom de l’action</label>
    <input id="name" name="name" placeholder="Nom de l’action"/>
    <label for="last_course_date">Date du dernier cours</label>
    <input id="last_course_date" name="last_course_date" type="date"/>
    <fieldset>
      <input type="radio" id="language" name="is_language" value="true">
      <label for="language">Anglais</label>

      <input type="radio" id="common" name="is_language" value="false" checked>
      <label for="common">Autre</label>
    </fieldset>
    <input type="submit" class="button" value="Ajouter"/>
  </form>
{% endblock %}
