{% set title = 'Action de production - ' + production_action.name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Action de production</h2>
  <h3>{{ production_action.name }}</h3>

  <form method="post">
    <input name="code" value="TODO" />
    <input name="name" value="TODO" />
    <input name="start" type="date" value="TODO" />
    <input name="stop" type="date" value="TODO" />
    <input name="last_course_date" type="date" value="{{ production_action.last_course_date }}" />
    <select>
      <option value="" {{ 'selected' if production_action.teacher_id == None }}></option>
      {% for teacher in teachers %}
        <option value="{{ teacher.id }}" {{ 'selected' if production_action.teacher_id == teacher.id }}>{{ teacher.name }}</option>
      {% endfor %}
    </select>
    <input type="submit" class="button" value="Sauvegarder"/>
  </form>

  <h4>Périodes de formations</h4>
  <table>
    <tbody>
      <tr>
        <td>TODO liste Nom PF</td>
        <td>Semestre 1</td>
        <td><a href="TODO">TODO Désassocier</a></td>
      </tr>
    </tbody>
  </table>
  <form class="link">
    <select>
      <option>TODO Liste PF - Semestre</option>
      <option>PF - Semestre 1</option>
      <option>PF - Semestre 2</option>
    </select>
    <input type="submit" class="button"  value="TODO Associer" />
  </form>

  <h4>Apprenants</h4>
  <table>
    <tbody>
      <tr>
        <td>Id étudiant</td>
        <td>Nom Prénom</td>
        <td><a href="TODO">Voir les notes</a></td>
        <td><a href="TODO">Désassocier</a></td>
      </tr>
    </tbody>
  </table>
  <form class="link">
    <select>
      <option>TODO Liste des étudiants inscrits aux pfs associées et qui ne sont pas déjà dans l’ap</option>
      <option value="action id">Nom prénom (id de l’étudiant)</option>
    </select>
    <input type="submit" class="button" value="TODO Associer"/>
  </form>

  <h4>Zone de danger</h4>
  <a href="TODO" class="button" >Supprimer l’action</a>
{% endblock %}
