{% set title = 'Mon Profil − ' + g.person.name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Mon profil</h2>

  <form method="post">
    {% if user.is_superadministrator() %}
      <input name="firstname" value="{{ person.firstname }}" />
      <input name="lastname" value="{{ person.lastname }}" />
    {% endif %}
    <input name="mail" type="email" value="{{ person.mail }}" />
    <input name="password" type="password" />
    <input name="confirm_password" type="password" />
    <input type="submit" value="Mettre à jour"/>
  </form>

  {% if user.is_superadministrator() %}
    TODO Contenu spécial pour le superadministrateur selon le type de personne
  {% endif %}
{% endblock %}
