{% set title = 'Profil − ' + g.person.name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Profil</h2>
  <h3>{{ person.firstname }} {{ person.lastname }}</h3>

  <form method="post">
    {% if user.is_superadministrator() %}
      <label for="firstname">Prénom</label>
      <input id="firstname" name="firstname" value="{{ person.firstname }}" />
      <label for="lastname">Nom</label>
      <input id="lastname" name="lastname" value="{{ person.lastname }}" />
      {% if roles.student %}
        <label for="code">Code</label>
        <input id="code" name="code" value="TODO id étudiant si étudiant" />
      {% endif %}
      <label for="student">Apprenant</label>
      <input type="checkbox" id="student" name="student" {{ 'checked' if roles.student }} />
      <label for="tutor">Tuteur</label>
      <input type="checkbox" id="tutor" name="tutor" {{ 'checked' if roles.tutor }} />
      <label for="teacher">Formateur</label>
      <input type="checkbox" id="teacher" name="teacher" {{ 'checked' if roles.teacher }} />
      <label for="administrator">Administrateur</label>
      <input type="checkbox" id="administrator" name="administrator" {{ 'checked' if roles.administrator }} />
      <label for="super_administrator">Super Administrateur</label>
      <input type="checkbox" id="superadministrator" name="superadministrator" {{ 'checked' if roles.superadministrator }} />
    {% endif %}
    <label for="mail">Email</label>
    <input id="mail" name="mail" type="email" value="{{ person.mail }}" />
    <label for="password">Mot de passe</label>
    <input id="password" name="password" type="password" placeholder="Mot de passe"/>
    <label for="confirm_password">Confirmez le mot de passe</label>
    <input id="confirm_password" name="confirm_password" type="password" placeholder="Mot de passe"/>
    <input type="submit" class="button" value="Mettre à jour"/>
  </form>

  {% if user.is_superadministrator() %}
    {% if roles.student %}
      <h4>Étudiant − Périodes de formation</h4>
      <table>
        <tbody>
          <tr>
            <td>TODO liste, Nom période de formation</td>
            <td><a href="TODO">Désassocier</a></td>
          </tr>
        </tbody>
      </table>
      <form class="link">
        <select>
          <option>TODO liste des pfs</option>
        </select>
        <input type="submit" class="button" value="Associer">
      </form>
    {% endif %}

    {% if roles.tutor %}
      <h4>Tuteur − Apprenants</h4>
      <table>
        <tbody>
          <tr>
            <td>TODO liste, Nom prénom id étudiant</td>
            <td><a href="TODO">Désassocier</a></td>
          </tr>
        </tbody>
      </table>
      <form class="link">
        <select>
          <option>TODO liste des étudiants, nom prénom id</option>
        </select>
        <input type="submit" class="button" value="Associer">
      </form>
    {% endif %}

    {% if roles.teacher %}
      <h4>Formateur − Actions de production</h4>
      <table>
        <tbody>
          <tr>
            <td>TODO liste, Nom Période de formation</td>
            <td>nom action de production</td>
            <td><a href="TODO">Désassocier</a></td>
          </tr>
        </tbody>
      </table>
      <form class="link">
        <select>
          <option>TODO liste, période de formation / action de production</option>
        </select>
        <input type="submit" class="button" value="Associer">
      </form>
    {% endif %}

    <h4>Zone de danger</h4>
    <a href="TODO" class="button" >Supprimer cette personne</a>
  {% endif %}
{% endblock %}
