{% set title = 'Profil − Ajout' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Ajout d’une personne</h2>

  <form method="post">
    <label for="firstname">Prénom</label>
    <input id="firstname" name="firstname" placeholder="Prénom"/>
    <label for="lastname">Nom</label>
    <input id="lastname" name="lastname" placeholder="Nom"/>
    <label for="mail">Email</label>
    <input id="mail" name="mail" type="email" placeholder="Email"/>
    <label for="student">Apprenant</label>
    <input type="checkbox" id="student" name="student" />
    <label for="tutor">Tuteur</label>
    <input type="checkbox" id="tutor" name="tutor" />
    <label for="teacher">Formateur</label>
    <input type="checkbox" id="teacher" name="teacher" />
    <label for="administrator">Administrateur</label>
    <input type="checkbox" id="administrator" name="administrator" />
    <label for="super_administrator">Super Administrateur</label>
    <input type="checkbox" id="superadministrator=" name="superadministrator" />
    <input type="submit" class="button" value="Ajouter"/>
  </form>
{% endblock %}
