{% set title = 'Notes − ' + person.name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Notes − {{ person.name }}</h2>
  <h3>{{ person.teaching_period_name }}</h3>

  <section>
    <table>
      <thead>
        <tr>
          <th>Niveaux d’acquisition</th>
          <td>{{ ((marks | selectattr('mark', 'in', ('A', 'B', 'C')) | list | count) / (marks | count) * 100) | int }} %</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Expertise − A</th>
          <td>{{ marks | selectattr('mark', 'eq', 'A') | list | count }}</td>
        </tr>
        <tr>
          <th>Maîtrise − B</th>
          <td>{{ marks | selectattr('mark', 'eq', 'B') | list | count }}</td>
        </tr>
        <tr>
          <th>Acquis − C</th>
          <td>{{ marks | selectattr('mark', 'eq', 'C') | list | count }}</td>
        </tr>
        <tr>
          <th>En cours d’acquisition − D</th>
          <td>{{ marks | selectattr('mark', 'eq', 'D') | list | count }}</td>
        </tr>
        <tr>
          <th>Non acquis − E</th>
          <td>{{ marks | selectattr('mark', 'eq', 'E') | list | count }}</td>
        </tr>
        <tr>
          <th>Non évalué − NE</th>
          <td>{{ marks | selectattr('mark', 'eq', 'NE') | list | count }}</td>
        </tr>
        <tr>
          <th>TODO Reste à valider 60%</th>
          <td>{{ marks | rejectattr('mark') | list | count }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <table>
      <thead>
        <tr>
          <th></th>
          {% for semester_id, marks in marks | groupby(attribute='semester_id') %}
            {% set semester = marks[0] %}
            <th>{{ semester.semester_name }}</td>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Justifiées</th>
          {% for semester_id, marks in marks | groupby(attribute='semester_id') %}
            {% set semester = marks[0] %}
            <td>{{ semester.justified_absence_minutes | hours }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Injustifiées</th>
          {% for semester_id, marks in marks | groupby(attribute='semester_id') %}
            {% set semester = marks[0] %}
            <td>{{ semester.unjustified_absence_minutes | hours }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Retards</th>
          {% for semester_id, marks in marks | groupby(attribute='semester_id') %}
            {% set semester = marks[0] %}
            <td>{{ semester.lateness_minutes | hours }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>

    {% if user.is_superadministrator() %}
      <a href="TODO">TODO Modifier les absences</a>
    {% endif %}
  </section>

  <section>
    {% for semester_id, marks in marks | groupby(attribute='semester_id') %}
      {% set semester = marks[0] %}
      {% if semester.production_action_name %}
        <article>
          <h4>{{ semester.semester_name }}</h4>
          <p>
            {{ semester.tracking_comments or '(Pas de commentaire)' }}
          </p>
          {% if user.is_superadministrator() %}
            <a href="TODO">TODO Modifier le commentaire du semestre</a>
          {% endif %}
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Niveau d’acquisition</th>
                <th>Commentaires</th>
                {% if user.is_superadministrator() %}
                <th>Modifier</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for mark in marks %}
                <tr>
                  <td>{{ mark.production_action_name }}</td>
                  <td>{{ mark.mark or '' }}</td>
                  <td>{{ mark.comments or '' }}</td>
                  {% if user.is_superadministrator() %}
                  <td><a href="TODO">TODO Modifier la note</a></td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </article>
      {% endif %}
    {% endfor %}

    <table>
      <tbody>
        <tr>
          <td>TODO note examen spécial</td>
          <td>TODO commentaire note examen spécial</td>
          <td><a href="TODO">Modifier</a></td>
        </tr>
      </tbody>
    </table>
    <a href="TODO">TODO Ajouter une note d’examen spécial</a>

    <!-- si l’étudiant n’est pas inscrit à tous les cours de sa pf -->
    <form>
      <select>
        <option>TODO, liste des cours de la PF où l’étudiant n’est pas inscrit</option>
      </select>
      <input type="submit" value="TODO Associer" />
    </form>
  </section>
{% endblock %}
