{% set title = 'Notes − ' + person.name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Notes − {{ person.name }}</h2>
  <h3>{{ person.teaching_period_name }}</h3>

  {% set validated_modules = marks | selectattr('mark', 'in', ('A', 'B', 'C')) | list | count %}
  {% set missing_modules = (marks | count * 0.6) | round(method='ceil') | int - validated_modules %}

  <article id="summaries">
    <section id="marks-summary">
      <table>
        <thead>
          <tr>
            <th>Niveaux d’acquisition</th>
            <td>{{ 0 if not marks else (validated_modules / (marks | count) * 100) | int }} %</td>
          </tr>
        </thead>
        <tbody>
          <tr class="validated">
            <th>Expertise − A</th>
            <td>{{ marks | selectattr('mark', 'eq', 'A') | list | count }}</td>
          </tr>
          <tr class="validated">
            <th>Maîtrise − B</th>
            <td>{{ marks | selectattr('mark', 'eq', 'B') | list | count }}</td>
          </tr>
          <tr class="validated">
            <th>Acquis − C</th>
            <td>{{ marks | selectattr('mark', 'eq', 'C') | list | count }}</td>
          </tr>
          <tr id="acquiring">
            <th>En cours d’acquisition − D</th>
            <td>{{ marks | selectattr('mark', 'eq', 'D') | list | count }}</td>
          </tr>
          <tr class="non-validated">
            <th>Non acquis − E</th>
            <td>{{ marks | selectattr('mark', 'eq', 'E') | list | count }}</td>
          </tr>
          <tr class="non-validated">
            <th>Non évalué − NE</th>
            <td>{{ marks | selectattr('mark', 'eq', 'NE') | list | count }}</td>
          </tr>
          {% if missing_modules > 0 %}
            <tr>
              <th>Reste à valider 60%</th>
              <td>{{ missing_modules }}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </section>

    <section class="absences-summary">
      <table>
        <thead>
          <tr>
            <th>Absences</th>
            {% for semester_id, marks in marks | groupby(attribute='semester_id') %}
            {% set semester = marks[0] %}
            <th>{{ semester.semester_name }}</th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Justifiées</th>
            {% for semester_id, marks in marks | groupby(attribute='semester_id') %}
            {% set semester = marks[0] %}
            <td>{{ semester.justified_absence_minutes | hours }}</td>
            {% endfor %}
          </tr>
          <tr>
            <th>Injustifiées</th>
            {% for semester_id, marks in marks | groupby(attribute='semester_id') %}
            {% set semester = marks[0] %}
            <td>{{ semester.unjustified_absence_minutes | hours }}</td>
            {% endfor %}
          </tr>
          <tr>
            <th>Retards</th>
            {% for semester_id, marks in marks | groupby(attribute='semester_id') %}
            {% set semester = marks[0] %}
            <td>{{ semester.lateness_minutes | hours }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>

      {% if user.is_superadministrator() %}
      <a href="{{ url_for('absences') }}">TODO Modifier les absences</a>
      {% endif %}
    </section>
  </article>

  <article>
    {% for semester_id, marks in marks | groupby(attribute='semester_id') %}
      {% set semester = marks[0] %}
      {% if semester.production_action_name %}
        <section class="semester-marks">
          <h4>{{ semester.semester_name }}</h4>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Niveau d’acquisition</th>
                <th>Commentaires</th>
                {% if user.is_superadministrator() %}
                <th>Modifier</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for mark in marks %}
                <tr>
                  <td>{{ mark.production_action_name }}</td>
                  <td>{{ mark.mark or '' }}</td>
                  <td>{{ mark.comments or '' }}</td>
                  {% if user.is_superadministrator() %}
                  <td><a href="{{ url_for('mark') }}">TODO Modifier la note</a></td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      {% endif %}
      <table class="semester-comment">
        <tbody>
          <tr>
            <td>Appréciation du semestre</td>
            <td>{{ semester.tracking_comments or '(Pas de commentaire)' }}</td>
            {% if user.is_superadministrator() %}
            <td><a href="{{ url_for('semester_comment') }}">TODO Modifier le commentaire du semestre</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    {% endfor %}


    <h4>Examens spéciaux</h4>
    <table id="special-mark">
      <tbody>
        <tr>
          <td>TODO Nom examen spécial</td>
          <td>TODO note examen spécial</td>
          <td>TODO commentaire note examen spécial</td>
          {% if user.is_superadministrator() %}
            <td><a href="{{ url_for('mark_special') }}">Modifier la noteTODO</a></td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    {% if user.is_superadministrator() %}
      <a href="{{ url_for('mark_special') }}">TODO Ajouter une note d’examen spécial</a>

      <h4>Ajouter des cours à l’apprenant</h4>
      <!-- si l’étudiant n’est pas inscrit à tous les cours de sa pf -->
      <form class="link">
        <select>
          <option>TODO, liste des cours de la PF où l’étudiant n’est pas inscrit</option>
        </select>
        <input type="submit" class="button" value="TODO Associer" />
      </form>
    {% endif %}
  </article>
{% endblock %}
