{% set title = 'Notes − ' + student.name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Notes − {{ student.name }}</h2>
  <h3>{{ student.teaching_period_name }}</h3>

  {% set validated_modules = assignments | selectattr('mark', 'in', ('A', 'B', 'C')) | list | count %}
  {% set missing_modules = (assignments | count * 0.6) | round(method='ceil') | int - validated_modules %}

  <article id="summaries">
    <section id="marks-summary">
      <table>
        <thead>
          <tr>
            <th>Niveaux d’acquisition</th>
            <td>{{ 0 if not assignments else (validated_modules / (assignments | count) * 100) | int }} %</td>
          </tr>
        </thead>
        <tbody>
          <tr class="validated">
            <th>Expertise − A</th>
            <td>{{ assignments | selectattr('mark', 'eq', 'A') | list | count }}</td>
          </tr>
          <tr class="validated">
            <th>Maîtrise − B</th>
            <td>{{ assignments | selectattr('mark', 'eq', 'B') | list | count }}</td>
          </tr>
          <tr class="validated">
            <th>Acquis − C</th>
            <td>{{ assignments | selectattr('mark', 'eq', 'C') | list | count }}</td>
          </tr>
          <tr id="acquiring">
            <th>En cours d’acquisition − D</th>
            <td>{{ assignments | selectattr('mark', 'eq', 'D') | list | count }}</td>
          </tr>
          <tr class="non-validated">
            <th>Non acquis − E</th>
            <td>{{ assignments | selectattr('mark', 'eq', 'E') | list | count }}</td>
          </tr>
          <tr class="non-validated">
            <th>Non évalué − NE</th>
            <td>{{ assignments | selectattr('mark', 'eq', 'NE') | list | count }}</td>
          </tr>
          {% if missing_modules > 0 %}
            <tr>
              <th>Reste à valider 60%</th>
              <td>{{ missing_modules }}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </section>

    <section class="absences-summary">
      <table>
        <thead>
          <tr>
            <th>Absences</th>
            {% for semester_id, assignments in assignments | groupby(attribute='semester_id') %}
            {% set semester = assignments[0] %}
            <th>{{ semester.semester_name }}</th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Justifiées</th>
            {% for semester_id, assignments in assignments | groupby(attribute='semester_id') %}
            {% set semester = assignments[0] %}
            <td>{{ semester.justified_absence_minutes | hours }}</td>
            {% endfor %}
          </tr>
          <tr>
            <th>Injustifiées</th>
            {% for semester_id, assignments in assignments | groupby(attribute='semester_id') %}
            {% set semester = assignments[0] %}
            <td>{{ semester.unjustified_absence_minutes | hours }}</td>
            {% endfor %}
          </tr>
          <tr>
            <th>Retards</th>
            {% for semester_id, assignments in assignments | groupby(attribute='semester_id') %}
            {% set semester = assignments[0] %}
            <td>{{ semester.lateness_minutes | hours }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>

      {% if user.is_superadministrator() %}
        <a href="{{ url_for('absences', registration_id=student.registration_id) }}">Modifier les absences</a>
      {% endif %}
    </section>
  </article>

  <article>
    {% for semester_id, assignments in assignments | groupby(attribute='semester_id') %}
      {% set semester = assignments[0] %}
      {% if semester.production_action_name %}
        <section class="semester-marks">
          <h4>{{ semester.semester_name }}</h4>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Niveau d’acquisition</th>
                <th>Commentaires</th>
                {% if user.is_superadministrator() %}
                <th>Modifier</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for assignment in assignments %}
                <tr>
                  <td>{{ assignment.production_action_name }}</td>
                  <td>{{ assignment.mark or '' }}</td>
                  <td>{{ assignment.comments or '' }}</td>
                  {% if user.is_superadministrator() %}
                    <td><a href="{{ url_for('mark', assignment_id=assignment.id) }}">Modifier la note</a></td>
                    {% if not assignment.mark %}
                      <td>
                        <form method="post" action="{{ url_for('course_unlink', assignment_id=assignment.id) }}">
                          <input type="submit" class="button" value="Désinscrire"/>
                        </form>
                      </td>
                    {% endif %}
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      {% endif %}
      <table class="semester-comment">
        <tbody>
          <tr>
            <td>Appréciation du semestre</td>
            <td>{{ semester.tracking_comments or '(Pas d’appréciation)' }}</td>
            {% if user.is_superadministrator() %}
              <td><a href="{{ url_for('semester_comment', registration_id=student.registration_id, semester_id=semester_id, ) }}">Modifier l’appréciation du semestre</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    {% endfor %}

    {% if examinations %}
      <h4>Examens spéciaux</h4>
      <table id="special-mark">
        <tbody>
          {% for examination in examinations %}
            <tr>
              <td>{{ examination.name }}</td>
              <td>{{ (examination.mark or '') | float }}</td>
              <td>{{ examination.comments or '' }}</td>
              {% if user.is_superadministrator() %}
                <td><a href="{{ url_for('examination_mark', examination_id=examination.id, registration_id=student.registration_id) }}">Modifier la note</a></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    <h4>Ajouter des cours à l’apprenant</h4>
    {% set course_ids = assignments | map(attribute='course_id') | list %}
    <form class="link" method="post" action="{{ url_for('course_link', registration_id=student.registration_id) }}">
      <select name="course_id">
        {% for course in courses %}
          {% if course.id not in course_ids %}
            <option value="{{ course.id }}">{{ course.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <input type="submit" class="button" value="Associer" />
    </form>
  </article>
{% endblock %}
