{% set title = 'Semestre ' %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>TODO nom semestre</h2>
  <h3>TODO Nom période de formation</h3>

  <form>
    <label for="name">Nom du semestre</label>
    <input id="name" value="TODO nom semestre" placeholder="Nom du semestre"/>
    <label for="start">Début du semestre</label>
    <input type="date" id="start" value="TODO start"/>
    <label for="stop">Fin du semestre</label>
    <input type="date" id="stop" value="TODO stop"/>
    <input type="submit" class="button" value="TODO Modifier le semestre"/>
  </form>
{% endblock %}
