{% set title = semester.teaching_period_name + ' − ' + semester.name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>{{ semester.teaching_period_name }} − {{ semester.name }}</h2>

  <form method="post">
    <label for="name">Nom du semestre</label>
    <input id="name" name="name" value="{{ semester.name }}" placeholder="Nom du semestre"/>
    <label for="start">Début du semestre</label>
    <input type="date" id="start" name="start" value="{{ semester.start }}"/>
    <label for="stop">Fin du semestre</label>
    <input type="date" id="stop" name="stop" value="{{ semester.stop }}"/>
    <input type="submit" class="button" value="Modifier le semestre"/>
  </form>
{% endblock %}
