{% set title = 'Super administrateur - ' + g.person.name %}

{% extends '_layout.jinja2' %}

{% block content %}
<h2>Tableau de bord</h2>

<form>
  <input type="text"/>
  <input type="submit" class="button" value="TODO Rechercher une personne, une pf, une ap"/>
</form>

<ul id="actions">
  <li><a href="{{ url_for('teaching_period_add') }}">TODO Ajouter une période de formation</a></li>
  <li><a href="{{ url_for('production_action_add') }}">TODO Ajouter une action de production</a></li>
  <li><a href="{{ url_for('profile_add') }}">TODO Ajouter une personne</a></li>
</ul>

TODO si pf, retour recherche
<section>
  <h3>Périodes de formation</h3>
  <ul>
    {% for teaching_period in teaching_periods %}
    <li><a href="{{ url_for('teaching_period', teaching_period_id=teaching_period.id) }}">{{ teaching_period.name }}</a></li>
    {% endfor %}
  </ul>
</section>

TODO si action, retour recherche
<section>
  <h3>Actions de production</h3>
  <ul>
    {% for production_action in production_actions %}
    <li><a href="{{ url_for('production_action', production_action_id=production_action.id) }}">{{ production_action.name }} ({{ production_action.teaching_period_names or 'Non affecté' }})</a></li>
    {% endfor %}
  </ul>
</section>

TODO si personne, retour recherche
<section>
  <h3>Personnes</h3>
  <ul>
    {% for person in people %}
    <li><a href="{{ url_for('profile', person_id=person.id) }}">{{ person.person_name }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
