{% set title = 'Super administrateur - ' + g.person.name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Tableau de bord</h2>

  <form class="search">
    <input name="search" placeholder="Rechercher une période de formation, une action de production ou une personne" value="{{ search if search }}" />
    <div>
      <p>Archives</p>
      <input type="checkbox" id="archives" name="archives"/>
      <label for="archives">Archives</label>
    </div>
    <input type="submit" class="button" value="Rechercher" />
  </form>

  <ul id="actions">
    <li><a href="{{ url_for('teaching_period_add') }}">Ajouter une période de formation</a></li>
    <li><a href="{{ url_for('production_action_add') }}">Ajouter une action de production</a></li>
    <li><a href="{{ url_for('profile_add') }}">Ajouter une personne</a></li>
  </ul>

  {% if teaching_periods %}
    <section>
      <h3>Périodes de formation</h3>
      <ul class="main-list">
        {% for teaching_period in teaching_periods %}
          <li><a href="{{ url_for('teaching_period', teaching_period_id=teaching_period.id) }}">{{ teaching_period.name }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  {% if production_actions %}
    <section>
      <h3>Actions de production</h3>
      <ul class="main-list">
        {% for production_action in production_actions %}
          <li><a href="{{ url_for('production_action', production_action_id=production_action.id) }}">{{ production_action.name }} ({{ production_action.teaching_period_names or 'Non affecté' }})</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  {% if people %}
    <section>
      <h3>Personnes</h3>
      <ul class="main-list">
        {% for person in people %}
          <li><a href="{{ url_for('profile', person_id=person.id) }}">{{ person.person_name }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  {% if not (teaching_periods or production_actions or people) %}
    Rien ne correspond à cette recherche.
  {% endif %}
{% endblock %}
