{% set title = 'Formateur - ' + g.person.name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Mes formations</h2>

  {% for teaching_period_id, courses in courses | groupby(attribute='teaching_period_name') %}
    <section>
      <h3>{{ courses[0].teaching_period_name }}</h3>
      <ul class="main-list">
        {% for course in courses %}
        <li>
          <a href="{{ url_for('marks', production_action_id=course.production_action_id) }}">{{ course.production_action_name }}</a>
          <ul class="labels">
            {% set class = 'empty' if not course.marks else 'full' if course.marks == course.count else 'ongoing' %}
            <li class="label-marks {{ class }}">{{ course.marks }}/{{ course.count }}</li>
            {% set difference = course.marks - course.comments %}
            {% if difference > 0 %}
              <li class="label-comments">{{ difference }} commentaire{{ 's' if difference > 1  }} manquant{{ 's' if difference > 1 }}</li>
            {% endif %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
{% endblock %}
