{% set title = 'Formateur - ' + g.person.name %}

{% extends '_layout.jinja2' %}

{% block content %}
  <h2>Mes formations</h2>

  {% for teaching_period_id, courses in courses | groupby(attribute='teaching_period_id') %}
    <section>
      <h3>{{ courses[0].teaching_period_name }}</h3>
      <ul class="main-list">
        {% for course in courses %}
        <li>
          <a href="{{ url_for('marks', production_action_id=course.production_action_id) }}">{{ course.production_action_name }}</a>
          <ul class="labels">
            <!-- TODO class full Y/Y, empty X=0, ongoing sinon -->
            <li class="label-marks full">X/Y</li>
            <!-- TODO Dès qu’il manque un commentaire alors qu’une note a été mise -->
            <li class="label-comments">Commentaires manquants</li>
          </ul>
        </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
{% endblock %}
